/* -----------------TITLE---------------------- */

.title {
  color: #fff;
  font-size: 28px;
}

.filters {
  margin-bottom: 20px;
}

.price-filter{
  background-color: rgba(0, 0, 0, 0.503);
  color: rgb(255, 255, 255);
  border-color: #ffffff9b;
  padding: 10px;
  text-align: center;
}

.category-select{
  background-color: rgba(0, 0, 0, 0.503);
  color: rgb(255, 255, 255);
  border-color: #ffffff88;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;

  text-align: center;
}

.price-filter {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.price-filter {
  width: 200px;
}

.div-input-search {
  display: flex;
  align-items: center;
  position: relative;
  transition: transform 0.2s;
}

.div-input-search:hover {
  transform: scale(1.05);
}

.search-input {
  background-color: rgba(0, 0, 0, 0.503);
  border: none;
  outline: none;
  padding: 10px;
  border: 1px solid #ccc;
  padding-right: 25px;
}

.search-input::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("http://www.w3.org/2000/svg");
  background-size: cover;
  position: absolute;
  top: 50%; /* Centrar verticalmente */
  right: 5px; /* Espacio entre el input y el ícono */
  transform: translateY(-50%); /* Alinear verticalmente */
  pointer-events: none; /* Evitar interacción con el ícono */
  transition: transform 0.2s;
}

.div-input-search:hover .search-input::before {
  transform: translateY(-50%) scale(1.05);
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 10px; /* Ajusta el espacio entre el ícono y el input según tus necesidades */
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  fill: #ccc; /* Ajusta el color del ícono según tus necesidades */
}

/* ---------------- CARD PRODUCT ------------ */

.card {
    background-color: #000000b4;
    border: none;
    color: #fff;
    cursor: pointer;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.7);
    transition: transform 0.2s ease-in-out, box-shadow 0.3s;
    border: 1px solid #ffffff46;
  }
  
  .card:hover {
    transform: translateY(-5px);
    /* box-shadow: 0px 10px 14px rgba(134, 134, 134, 0.5); */
    transform: scale(1.05);
  }
  
  .card-img-top {
    height: 200px;
    object-fit: cover;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-title {
    font-size: 20px;
    font-weight: bold;
  }
  
  .card-text {
    margin-bottom: 10px;
  }

  .btn-addCart {
    display: inline-block;
    text-transform: uppercase;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    /* background-color: rgba(0, 255, 0, 0.578);     */
    background-color: #00000000;
    border: 2px solid #ffffff91;
    width: 100%;
  }
  