.quantity-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .quantity-button {
    border: none;
    background-color: #0000006f;
    color: #fff;
    padding: 4px 8px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid #ffffff92;

    transition: transform 0.2s ease-in-out;
    transition: background-color 0.3s ease;
  }
  
  .quantity-button:hover {
    box-shadow: 0px 2px 4px rgba(255, 254, 254, 0.381);
    transform: scale(1.1);
  }
  
  .quantity {
    font-size: 18px;
    margin: 0 10px;
  }

  .navigation-index {
    text-align: center;
    margin-bottom: 20px;
  }
  
 .breadcrumb {
    background-color: transparent;
    padding: 0;
    margin: 0;
  }
  
 .breadcrumb-item:not(:last-child) {
    margin-right: 10px;
  }
  
  .breadcrumb-item .breadcrumb-link {
    color: #888;
    transition: color 0.3s ease;
  }
  
  .breadcrumb-item .breadcrumb-link:hover {
    color: #333;
  }
  
  .navigation-index .breadcrumb-item .breadcrumb-link::after {
    content: '/';
    margin-left: 5px;
  }
  
  .navigation-index .breadcrumb-item:last-child .breadcrumb-link {
    color: #333;
    pointer-events: none;
  }

  .add-to-cart-button{
    background-color: #00000000;   
    border: 2px solid #ffffff91;
    display: inline-block;
    text-transform: uppercase;
    border: none;
    padding: 10px 25px;
    color: #fff;
    font-weight: bold;
    width: 65%;
    border: 2px solid #ffffff92;

    transition: transform 0.2s ease-in-out;
  }

  .add-to-cart-button:hover {
    background-color: rgba(0, 255, 0, 0.423); 
    box-shadow: 0px 2px 4px rgba(255, 254, 254, 0.381);
    transform: scale(1.05);
  }

  .go-home-button {
    background-color: #1900ff82;
    display: inline-block;
    text-transform: uppercase;
    border: none;
    padding: 10px 25px;
    color: #fff;
    font-weight: bold;
    width: 65%;
    border: 2px solid #ffffff6c;

    transition: transform 0.2s ease-in-out;
  }

  .go-home-button:hover {
    background-color: #1900ff;
    box-shadow: 0px 2px 4px rgba(255, 254, 254, 0.381);
    transform: scale(1.05);
  }

  .card-product-related{
    cursor: pointer;
  }

  .div-hijo-related{
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    cursor: pointer;
  }

  .img-related{
    border-radius: 10px;
    width: 100%; 
    min-height: 300px;
    max-height: 300px; 
  }

  .div-related{
    padding: 0 10px;
  }


  @media (max-width: 992px){
    .img-related{
      border-radius: 10px;
      width: 100%; 
      min-height: 160px;
      max-height: 160px; 
    }
  }

  @media (max-width: 768px){
    .img-related{
      border-radius: 10px;
      width: 100%;
      min-height: 100px;
      max-height: 100px;
    }

    .name-related{
      font-size: 16px;
      font-weight: 600;
    }

    .price-related{
      font-size: 8px;
      font-weight: 100;
    }

    .product-name{
      margin-top: 10px;
    }
  }

  @media (max-width: 576px){
    .div-related{
      padding: 0 2px;
    }
  }