@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  /* background-color: #0f172a; */
  background: -webkit-linear-gradient(135deg, #101318, #1a1c21);
  background: linear-gradient(
    135deg,
    #101318,
    #1a1c21
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@layer components {
  ::-webkit-scrollbar {
    width: 3px;
    height: 3px; /* Ancho de la barra de desplazamiento */
  }

  ::-webkit-scrollbar-thumb {
    background-color: #156acb; /* Color de la barra de desplazamiento */
    border-radius: 4px; /* Bordes redondeados */
    border: 2px solid #a6a6a6; /* Borde blanco alrededor de la barra */
  }

  ::-webkit-scrollbar-track {
    background-color: transparent; /* Color de fondo de la pista */
    border-radius: 4px; /* Bordes redondeados de la pista */
  }

  scrollbar {
    width: 3px;
  }

  scrollbar-thumb {
    background-color: #025dc5;
    border-radius: 4px;
  }

  @layer utilities {
    .glass-box {
      @apply bg-black/20 border border-white/5 shadow-[inset_0_4px_6px_rgba(0,0,0,0.4)] backdrop-blur-[12px] rounded-[32px] overflow-hidden;
    }

    .btn-glass {
      @apply bg-black/30 text-white border border-white/25 
             hover:bg-[#fce803] hover:text-black hover:border-black/25 
             transition-all duration-100 rounded-2xl uppercase
             p-4 text-sm font-bold cursor-pointer;
    }

    .btn-glass-sm {
      @apply bg-[#fce803]
             text-black border-black/25 rounded-md uppercase p-4 
             text-sm font-bold cursor-pointer;
    }
  }
}

.button{
  background-color: #fce803;
  color: #101318;
  border-radius: 50%;
}

.glass-box {
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.04);
  box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 32px;
  overflow: hidden;
}

.glass-card {
  background-color: rgba(0, 0, 0, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.04);
  border-right: 1px solid rgba(255, 255, 255, 0.04);
  border-bottom: 1px solid rgba(255, 255, 255, 0.04);
  box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  overflow: hidden;
}

.yellow-glow{
  background: radial-gradient(circle, #fce803 0%, rgba(252, 232, 3, 0) 100%);
  opacity: 0.2;
  filter: blur(80px);
  pointer-events: none;
}
